article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  font-family: 'Abril Fatface', cursive; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

header {
  height: 80vh;
  background-image: url(../../assets/backgroundImageCrop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center; }

header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1 {
  font-size: 5rem;
  color: #fff;
  margin: 0; }

h2 {
  font-size: 3rem;
  font-family: 'Abril Fatface', cursive;
  margin: 25px 0;
  color: #4a4a4a; }

h3 {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: #4a4a4a; }

h3.subheading {
  color: #fff;
  text-align: center; }

p {
  color: #4a4a4a;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6; }

button {
  font-size: 1.4rem;
  font-family: 'Montserrat',sans-serif;
  background-color: transparent;
  color: #fff;
  border: #fff solid white;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 10px 40px; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

.query .wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  margin: 0 auto; }

form {
  margin: 25px 0; }

/* Dropdown Effects - with a little help from: https://codepen.io/gcampfield/pen/vErOOq  */
.effects {
  margin: 0;
  padding-top: 20px;
  text-align: left;
  display: flex;
  flex-direction: column; }
  .effects ul {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    list-style: none;
    padding: 0; }
    .effects ul li {
      margin: 0;
      flex: 0 0 0;
      font-size: 0;
      font-family: 'Abril Fatface', cursive;
      color: #4a4a4a;
      padding: 0 5px; }
  .effects label,
  .effects:hover li {
    flex: 1 1;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive; }
  .effects label {
    border-bottom: solid 1px #967619;
    margin-top: 5px;
    color: #967619;
    padding: 0; }
  .effects .labelContainer::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: relative;
    color: #967619;
    font-size: 2.8rem;
    margin-top: 12px;
    bottom: 0;
    right: 0;
    padding-left: 5px;
    content: "\f078"; }

.effects .selected {
  color: #967619; }

.labelContainer {
  display: flex; }

.resultsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; }

.card {
  border: #a4a4a4 1px solid;
  flex: 0 0 calc(100% / 3 - 30px);
  margin: 15px 15px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.cardImage {
  background-color: #ad5666;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; }

.cardBottom {
  padding: 20px;
  display: flex;
  flex-direction: column; }

.expand {
  text-align: right; }

.fa-plus-circle {
  font-size: 3rem;
  color: #4a4a4a; }

.noDescription {
  font-weight: 900; }

img {
  max-width: 100%; }

footer {
  background-color: #7c4475; }

footer img {
  display: block; }

.insta-container {
  display: flex; }

footer h6 {
  margin: 0; }

/* MEDIA QUERY*/
/* MEDIA QUERY*/
/* MEDIA QUERY*/
@media (max-width: 1080px) {
  .card {
    flex: 1 0 calc(100% / 2 - 30px);
    margin: 15px 15px; } }

@media (max-width: 768px) {
  .wrapper {
    width: 90%; }
  .query .wrapper {
    justify-content: center;
    margin: 0 auto;
    width: 90%; }
  h2,
  .effects:hover li,
  .effects .labelContainer::after,
  .effects label {
    font-size: 2.5rem; }
  form {
    margin: 25px 0; }
  .resultsContainer {
    flex-direction: column;
    align-items: stretch; }
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .cardTop {
    flex: 1 1 20%; }
  .cardImage {
    height: 100%;
    padding: 0px 20px; }
  .cardImage img {
    width: 50px; }
  .cardBottom {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%; }
  .expand {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: flex-end; }
  .insta-container {
    display: none; } }

@media (max-width: 637px) {
  .query .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0; }
  form {
    max-width: 100%; }
  h2 {
    margin: 40px 0 0 0; }
  .card {
    margin: 15px 0; }
  form.effects {
    padding: 0; }
  .cardImage {
    padding: 0px 10px; } }

@media (max-width: 400px) {
  h2,
  .effects:hover li,
  .effects .labelContainer::after,
  .effects label {
    font-size: 2rem; }
  .wrapper {
    width: 80%; } }
